<h2>Imported library</h2>

In [99]:
import pickle                #help to deploy Our Model
import pandas as pd
import numpy as np

<h2>Load Our Dataset of Titanic passegers</h2>

In [100]:
dataset = pd.read_csv('train.csv', encoding='latin-1')
dataset = dataset.rename(columns=lambda x: x.strip().lower())
dataset.sample(5)

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
164,165,0,3,"Panula, Master. Eino Viljami",male,1.0,4,1,3101295,39.6875,NaN,S
391,392,1,3,"Jansson, Mr. Carl Olof",male,21.0,0,0,350034,7.7958,NaN,S
66,67,1,2,"Nye, Mrs. (Elizabeth Ramell)",female,29.0,0,0,C.A. 29395,10.5000,F33,S
366,367,1,1,"Warren, Mrs. Frank Manley (Anna Sophia Atkinson)",female,60.0,1,0,110813,75.2500,D37,C
330,331,1,3,"McCoy, Miss. Agnes",female,NaN,2,0,367226,23.2500,NaN,Q

<h2>Check The missing Values.</h2>

In [101]:
dataset.isnull().sum()

passengerid      0
survived         0
pclass           0
name             0
sex              0
age            177
sibsp            0
parch            0
ticket           0
fare             0
cabin          687
embarked         2
dtype: int64

<h4>Selecting the important attribute used in train our model, Because not all attribute in our dataset are used!!</h4>

In [102]:
dataset = dataset[['pclass', 'sex', 'age', 'sibsp',
                   'parch', 'fare', 'survived']]

In [103]:
dataset.sample(5)

     pclass     sex   age  sibsp  parch     fare  survived
259       2  female  50.0      0      1  26.0000         1
129       3    male  45.0      0      0   6.9750         0
512       1    male  36.0      0      0  26.2875         1
163       3    male  17.0      0      0   8.6625         0
21        2    male  34.0      0      0  13.0000         1

<h3>SURVIVED is a dependent values</h3>

In [104]:
dataset.survived.unique()

array([0, 1], dtype=int64)

<h5>Convert SEX From String into Int</h5>

In [105]:
dataset['sex'] = dataset['sex'].map({'male': 0, 'female': 1})

In [106]:
dataset.sample(2)

     pclass  sex   age  sibsp  parch     fare  survived
701       1    0  35.0      0      0  26.2875         1
98        2    1  34.0      0      1  23.0000         1

<h4>Fullfill the Age missing Value By Mean.</h4>

In [107]:
dataset['age'] = pd.to_numeric(dataset['age'], errors='coerce')
dataset['age'] = dataset['age'].fillna(np.mean(dataset['age']))

In [108]:
dataset.isnull().sum()

pclass      0
sex         0
age         0
sibsp       0
parch       0
fare        0
survived    0
dtype: int64

<h3>Separate the dataset into dependent and independent values.</h3>

In [109]:
X = dataset.drop(['survived'], axis=1)     #independent
y = dataset['survived']                    #dependent

<h3>Split The dataset from Train and Test</h3>

In [110]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

sc = MinMaxScaler(feature_range=(0, 1))
X_scaled = sc.fit_transform(X)

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 10)

<h3>Import LogisticRegression</h3>

In [111]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

log_model = LogisticRegression(random_state=10)
log_model.fit(X_scaled, y)

LogisticRegression(random_state=10)

<h3>Predicting the Test set results</h3>

In [112]:
y_pred = log_model.predict(X_test)

<h3>Making the Confusion Matrix</h3>

In [113]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [114]:
print(cm)

[[114   3]
 [ 45  17]]

In [115]:
print("accuracy : ",log_model.score(X_test,y_test)*100,"%")

accuracy :  73.18435754189943 %

<h3>Save the model using Pickle!</h3>

In [116]:
pickle.dump(log_model, open("our_model.sav", "wb"))
pickle.dump(sc, open("scaler.sav", "wb"))